@import "tailwindcss";
@source "../../../packages/ui/src/**/*.{ts,tsx}";



body {
  background: rgb(153, 166, 55);
}
/* Hide ALL scrollbars inside this class */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Edge */
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}


